<div class="lg:tw-h-[100vh]">

    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-full tw-text-center lg:tw-max-w-[1020px] tw-m-auto">
        <h2 class="lg:tw-text-7xl titulo-text tw-font-sans tw-text-3xl tw-font-bold lg:tw-mt-0 tw-mt-10">Serviços</h2>

        <span class="tw-text-black lg:tw-text-2xl tw-text-[12px] tw-font-sans tw-mt-8">
            Experimente a excelência em cuidados masculinos na nossa barbearia. Oferecemos cortes de cabelo estilosos, barbas impecáveis, tratamentos faciais revigorantes e serviços de cuidados pessoais completos.
        </span>

        <app-card-servicos [servicos]="card" class="tw-mt-12 tw-w-full"></app-card-servicos>

        <p class="lg:tw-mb-0 tw-mb-8 tw-cursor-pointer tw-mt-6 tw-text-2xl tw-text-primary titulo-text tw-font-sans tw-font-semibold">
            Todos os serviços >
        </p>

    
    </div>

</div>