<div class="tw-h-[100vh]">
  
    <img class="tw-absolute tw-top-5 tw-left-8 tw-cursor-pointer" [routerLink]="'/'" src="../../../assets/svg/back.svg" alt="Icone seta para voltar a home">


    <div class="tw-flex tw-h-full tw-w-full">
        <div class="tw-w-1/2 login-bg tw-flex tw-flex-col tw-justify-center tw-items-center">
            <h2 class="tw-text-8xl tw-font-sans tw-font-bold titulo-text tw-text-white tw-text-start tw-tracking-[10px]">Barbearia</h2>

            <span class="tw-text-white tw-font-sans tw-text-4xl tw-tracking-[4px]">
                Sua barbearia favorita
            </span>
            
        </div>

        <div class="tw-w-1/2 tw-bg-white tw-flex tw-flex-col tw-justify-center tw-items-center">
            <div class="tw-w-[320px]">
                <h2 class="tw-text-5xl tw-text-primaryDark titulo-text tw-font-sans tw-font-bold tw-mb-8">Fazer Login</h2>

                <input class="inputs tw-rounded-t-lg tw-rounded-b-none" type="email" placeholder="Email">
                <input class="inputs tw-rounded-b-lg tw-rounded-t-none" type="password" placeholder="Senha">

                <div class="tw-my-8 tw-flex tw-items-center tw-justify-between">
                    <div class="tw-flex tw-items-center tw-gap-5">
                        <input type="checkbox" id="lembrar">
                        <label for="lembrar" class="tw-text-primary tw-font-sans tw-text-xl tw-cursor-pointer">Lembrar-me</label>
                    </div>

                    <p class="tw-text-primary tw-font-sans tw-text-xl tw-cursor-pointer">Esqueci minha senha</p>

                </div>

                <button class="buttons tw-w-full">
                    Entrar
                </button>

            </div>
        </div>
    </div>


</div>