<div class="container h-home" [ngStyle]="{ 'background-position-y': -scrollPosition * 0.5 + 'px' }">
    <div class="tw-px-3">

        <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-m-auto tw-max-w-[950px] h-home tw-text-center">
            <h1 class="lg:tw-leading-[70px] tw-text-white tw-font-sans tw-text-lg lg:tw-text-5xl titulo-text tw-uppercase tw-font-bold">
                Estilo é um reflexo da sua atitude e sua personalidade
            </h1>
    
            <span class="tw-text-white tw-text-sm lg:tw-text-2xl titulo-text tw-mt-3">
                Hórario de funcionamento: 0900 ás 18:00
            </span>

            <button class="buttons tw-mt-5">Agendar horário</button>
        </div>
    
    </div>
</div>

<div class="tw-h-full">
    <app-services></app-services>
</div>
