.container {
    background-color: #0D121E;
    background-image: url('../../../assets/img/principal-img.png');
    background-position: 50% calc(50% - 50vh);
    background-size: cover;
    overflow-x: hidden;
  }
  

.titulo-text {
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.55);
}

.h-home {
    height: calc(100vh - 72px);
}