<div class="tw-bg-primary tw-w-full">

    <div class="tw-flex tw-justify-between tw-items-center tw-py-2 tw-px-10">
        <div class="tw-flex tw-items-center tw-gap-8">
            <img class="tw-cursor-pointer tw-h-14" src="../../../../assets/img/Logo.png" alt="Logo da barbearia">
    
            <div class="tw-gap-7 tw-flex">
                <span class="tw-cursor-pointer tw-text-white tw-text-base tw-font-sans">
                    Sobre
                </span>
    
                <span class="tw-cursor-pointer tw-text-white tw-text-base tw-font-sans">
                    Serviços
                </span>
    
            </div>
        </div>
    
        <div class="tw-flex tw-items-center tw-gap-4">
            <p class="tw-text-white tw-text-base tw-font-sans tw-hidden lg:tw-flex">Pedro Tomilhero</p>

            <button class="tw-w-14 tw-h-14 tw-bg-white tw-rounded-full">

            </button>
        </div>
    </div>


</div>