/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}

input,textarea {
    font: 500 1.6rem Poppins;
    color: #6A6180;
}

.buttons {
    border-radius: 8px;
    background-color: #F0B35B;
    padding: 9px 50px;
    font-size: 16px;
    color: black;

    &:hover {
        background-color: #D89D45;
    }
}

.inputs {
    width: 100vw;
    max-width: 320px;
    height: 5.6rem;
    margin-top: 0;
    border-radius: 8px 8px 0 0;
    background: #f8f8fc;
    border: 1px solid #e6e6f0;
    padding: 0 1.6rem;
    font-size: 1.5rem;
}

.titulo-text {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.55);
}

.h-home {
    height: calc(100vh - 72px);
}