/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.buttons {
    border-radius: 8px;
    background-color: #F0B35B;
    padding: 9px 50px;
    font-size: 16px;
    color: black;

    &:hover {
        background-color: #D89D45;
    }
}

.titulo-text {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.55);
}